In [394]:
import pandas as pd
import numpy as np
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2

In [395]:
df_1900 = pd.read_csv("1900_2021_DISASTERS.xlsx - emdat data.csv")
df_1900

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16121,2021,449,FL-2021-000110,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,...,67980.0,NaN,67980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16122,2021,75,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Africa,...,400.0,NaN,400.0,NaN,75000.0,NaN,1;2,2707;77311;77312;77313;77315,77364;77367,"Free State, KwaZulu-Natal, Limpopo, Mpumalanga..."
16123,2021,599,EP-2021-000138,Natural,Biological,Epidemic,Viral disease,NaN,Meningitis,Congo (the Democratic Republic of the),...,NaN,NaN,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16124,2021,20,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Serbia,...,22.0,NaN,22.0,NaN,NaN,NaN,1,25374;25378;25379;25380;25383;25386;25397,NaN,"Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko..."
16125,2021,481,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Sudan,...,500000.0,NaN,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [396]:
df_1900.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [397]:
df = df_1900[["Year","Disaster Type","Disaster Group","Disaster Subgroup","Country","Continent","Total Deaths"]]
df

,Year,Disaster Type,Disaster Group,Disaster Subgroup,Country,Continent,Total Deaths
0,1900,Drought,Natural,Climatological,Cabo Verde,Africa,11000.0
1,1900,Drought,Natural,Climatological,India,Asia,1250000.0
2,1902,Earthquake,Natural,Geophysical,Guatemala,Americas,2000.0
3,1902,Volcanic activity,Natural,Geophysical,Guatemala,Americas,1000.0
4,1902,Volcanic activity,Natural,Geophysical,Guatemala,Americas,6000.0
...,...,...,...,...,...,...,...
16121,2021,Flood,Natural,Hydrological,Yemen,Asia,11.0
16122,2021,Flood,Natural,Hydrological,South Africa,Africa,31.0
16123,2021,Epidemic,Natural,Biological,Congo (the Democratic Republic of the),Africa,131.0
16124,2021,Flood,Natural,Hydrological,Serbia,Europe,NaN
16125,2021,Flood,Natural,Hydrological,South Sudan,Africa,7.0

In [398]:
df["Country"] = df["Country"].str.replace("\(the\)","")
df["Country"] = df["Country"].str.rstrip()

C:\Users\asus\AppData\Local\Temp\ipykernel_17368\693674162.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Country"] = df["Country"].str.replace("\(the\)","")
C:\Users\asus\AppData\Local\Temp\ipykernel_17368\693674162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Country"] = df["Country"].str.replace("\(the\)","")
C:\Users\asus\AppData\Local\Temp\ipykernel_17368\693674162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Country"] = df["Country"].str.rstrip()

In [399]:
def get_country_code(x):
    result = np.nan
    try:
        result = country_name_to_country_alpha2(x,cn_name_format="upper")  
    except:
        result = np.nan
    return result
    
def get_continent(x):
    result = np.nan
    try:
        result = country_alpha2_to_continent_code(x)
    except:
        result = np.nan
    return result

In [401]:
df = df[~df['Country'].isin(list_eliminate)]

df = df.replace(
   ['Iran (Islamic Republic of)','Taiwan (Province of China)','Congo (the Democratic Republic of the)',
    'Korea (the Republic of)','Bolivia (Plurinational State of)',
    'United Kingdom of Great Britain and Northern Ireland (the)',
   'Venezuela (Bolivarian Republic of)','Macedonia (the former Yugoslav Republic of)','Moldova (the Republic of)',
   "Korea (the Democratic People's Republic of)",'Côte d’Ivoire'],
   ['Iran','Taiwan','Democratic Republic of the Congo',
   'South Korea','Bolivia','United Kingdom','Venezuela','North Macedonia','Moldova',"North Korea",'Ivory Coast'])

df.head()

,Year,Disaster Type,Disaster Group,Disaster Subgroup,Country,Continent,Total Deaths
0,1900,Drought,Natural,Climatological,Cabo Verde,Africa,11000.0
1,1900,Drought,Natural,Climatological,India,Asia,1250000.0
2,1902,Earthquake,Natural,Geophysical,Guatemala,Americas,2000.0
3,1902,Volcanic activity,Natural,Geophysical,Guatemala,Americas,1000.0
4,1902,Volcanic activity,Natural,Geophysical,Guatemala,Americas,6000.0

In [402]:
df["country_code"] = df["Country"].apply(lambda x: get_country_code(x))
df["continent"] = df["country_code"].apply(lambda x: get_continent(x))

In [403]:
#missing = df[df['country_code'].isna()]
#list_eliminate = missing["Country"].value_counts().index.tolist()
#list_eliminate

['Soviet Union',
 'Yugoslavia',
 'Germany Fed Rep',
 'Serbia Montenegro',
 'Micronesia (Federated States of)',
 'Czechoslovakia',
 'Yemen Arab Rep',
 'Canary Is',
 'Virgin Island (U.S.)',
 'Yemen P Dem Rep',
 'Azores Islands',
 'Netherlands Antilles',
 'Virgin Island (British)',
 'Germany Dem Rep']

In [ ]:
missing = df[df['continent'].isna()]
missing