In [516]:
import pandas as pd
import numpy as np
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2

In [517]:
df_1900 = pd.read_csv("1900_2021_DISASTERS.xlsx - emdat data.csv")
df_1900

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16121,2021,449,FL-2021-000110,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,...,67980.0,NaN,67980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16122,2021,75,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Africa,...,400.0,NaN,400.0,NaN,75000.0,NaN,1;2,2707;77311;77312;77313;77315,77364;77367,"Free State, KwaZulu-Natal, Limpopo, Mpumalanga..."
16123,2021,599,EP-2021-000138,Natural,Biological,Epidemic,Viral disease,NaN,Meningitis,Congo (the Democratic Republic of the),...,NaN,NaN,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16124,2021,20,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Serbia,...,22.0,NaN,22.0,NaN,NaN,NaN,1,25374;25378;25379;25380;25383;25386;25397,NaN,"Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko..."
16125,2021,481,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Sudan,...,500000.0,NaN,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [518]:
df_1900.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [519]:
df = df_1900[["Year","Event Name","Disaster Type","Disaster Group","Disaster Subgroup","Country",
              "Continent","Total Deaths","Total Affected","End Day","End Year","End Month"]]

df = df[~df['End Day'].isna()]
df["End Day"] = df["End Day"].astype(int)
df["End Month"] = df["End Month"].astype(int)
df["End Year"] = df["End Year"].astype(int)

df["Date"] = df["End Year"].astype(str) + "-" + df['End Month'].astype(str) + "-" + df['End Day'].astype(str) 
df["Date"] = pd.to_datetime(df["Date"],errors="coerce")
df = df[~df['Date'].isna()]

df

,Year,Event Name,Disaster Type,Disaster Group,Disaster Subgroup,Country,Continent,Total Deaths,Total Affected,End Day,End Year,End Month,Date
2,1902,NaN,Earthquake,Natural,Geophysical,Guatemala,Americas,2000.0,NaN,18,1902,4,1902-04-18
3,1902,Santa Maria,Volcanic activity,Natural,Geophysical,Guatemala,Americas,1000.0,NaN,8,1902,4,1902-04-08
4,1902,Santa Maria,Volcanic activity,Natural,Geophysical,Guatemala,Americas,6000.0,NaN,24,1902,10,1902-10-24
5,1903,NaN,Mass movement (dry),Natural,Geophysical,Canada,Americas,76.0,23.0,29,1903,4,1903-04-29
8,1905,NaN,Mass movement (dry),Natural,Geophysical,Canada,Americas,18.0,18.0,13,1905,8,1905-08-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16121,2021,NaN,Flood,Natural,Hydrological,Yemen,Asia,11.0,67980.0,7,2021,8,2021-08-07
16122,2021,NaN,Flood,Natural,Hydrological,South Africa,Africa,31.0,400.0,15,2021,2,2021-02-15
16123,2021,Meningitis,Epidemic,Natural,Biological,Congo (the Democratic Republic of the),Africa,131.0,301.0,13,2021,9,2021-09-13
16124,2021,NaN,Flood,Natural,Hydrological,Serbia,Europe,NaN,22.0,12,2021,1,2021-01-12
16125,2021,NaN,Flood,Natural,Hydrological,South Sudan,Africa,7.0,500000.0,7,2021,10,2021-10-07

In [520]:
df["Country"] = df["Country"].str.replace("\(the\)","")
df["Country"] = df["Country"].str.rstrip()

C:\Users\asus\AppData\Local\Temp\ipykernel_17368\693674162.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Country"] = df["Country"].str.replace("\(the\)","")

In [521]:
def get_country_code(x):
    result = np.nan
    try:
        result = country_name_to_country_alpha2(x,cn_name_format="upper")  
    except:
        result = np.nan
    return result
    
def get_continent(x):
    result = np.nan
    try:
        result = country_alpha2_to_continent_code(x)
    except:
        result = np.nan
    return result

In [522]:
df = df[~df['Country'].isin(list_eliminate+["Timor-Leste"])]

df = df.replace(
   ['Iran (Islamic Republic of)','Taiwan (Province of China)','Congo (the Democratic Republic of the)',
    'Korea (the Republic of)','Bolivia (Plurinational State of)',
    'United Kingdom of Great Britain and Northern Ireland (the)',
   'Venezuela (Bolivarian Republic of)','Macedonia (the former Yugoslav Republic of)','Moldova (the Republic of)',
   "Korea (the Democratic People's Republic of)",'Côte d’Ivoire'],
   ['Iran','Taiwan','Democratic Republic of the Congo',
   'South Korea','Bolivia','United Kingdom','Venezuela','North Macedonia','Moldova',"North Korea",'Ivory Coast'])

df.head()

,Year,Event Name,Disaster Type,Disaster Group,Disaster Subgroup,Country,Continent,Total Deaths,Total Affected,End Day,End Year,End Month,Date
2,1902,NaN,Earthquake,Natural,Geophysical,Guatemala,Americas,2000.0,NaN,18,1902,4,1902-04-18
3,1902,Santa Maria,Volcanic activity,Natural,Geophysical,Guatemala,Americas,1000.0,NaN,8,1902,4,1902-04-08
4,1902,Santa Maria,Volcanic activity,Natural,Geophysical,Guatemala,Americas,6000.0,NaN,24,1902,10,1902-10-24
5,1903,NaN,Mass movement (dry),Natural,Geophysical,Canada,Americas,76.0,23.0,29,1903,4,1903-04-29
8,1905,NaN,Mass movement (dry),Natural,Geophysical,Canada,Americas,18.0,18.0,13,1905,8,1905-08-13

In [523]:
df["country_code"] = df["Country"].apply(lambda x: get_country_code(x))
df["continent"] = df["country_code"].apply(lambda x: get_continent(x))

In [524]:
missing = df[df['country_code'].isna()]
list_eliminate = missing["Country"].value_counts().index.tolist()
list_eliminate

['Soviet Union',
 'Yugoslavia',
 'Serbia Montenegro',
 'Germany Fed Rep',
 'Czechoslovakia',
 'Micronesia (Federated States of)',
 'Virgin Island (U.S.)',
 'Canary Is',
 'Azores Islands',
 'Yemen Arab Rep',
 'Netherlands Antilles',
 'Virgin Island (British)',
 'Yemen P Dem Rep']

In [536]:
df["Disaster Type"].value_counts()

Flood                    4595
Storm                    4025
Earthquake               1540
Epidemic                  808
Landslide                 686
Wildfire                  309
Extreme temperature       303
Volcanic activity         224
Mass movement (dry)        44
Drought                    11
Insect infestation          9
Glacial lake outburst       2
Fog                         1
Impact                      1
Animal accident             1
Name: Disaster Type, dtype: int64

### Get latitude and longitude

In [526]:
locations = pd.read_csv("https://raw.githubusercontent.com/albertyw/avenews/master/old/data/average-latitude-longitude-countries.csv")
locations = locations.rename(columns={"ISO 3166 Country Code":"country_code"})
locations = locations.drop(columns=["Country"])
locations.head()

  country_code  Latitude  Longitude
0           AD     42.50       1.50
1           AE     24.00      54.00
2           AF     33.00      65.00
3           AG     17.05     -61.80
4           AI     18.25     -63.17

In [527]:
final_df = pd.merge(df,locations,on="country_code")
final_df

,Year,Event Name,Disaster Type,Disaster Group,Disaster Subgroup,Country,Continent,Total Deaths,Total Affected,End Day,End Year,End Month,Date,country_code,continent,Latitude,Longitude
0,1902,NaN,Earthquake,Natural,Geophysical,Guatemala,Americas,2000.0,NaN,18,1902,4,1902-04-18,GT,NA,15.5,-90.25
1,1902,Santa Maria,Volcanic activity,Natural,Geophysical,Guatemala,Americas,1000.0,NaN,8,1902,4,1902-04-08,GT,NA,15.5,-90.25
2,1902,Santa Maria,Volcanic activity,Natural,Geophysical,Guatemala,Americas,6000.0,NaN,24,1902,10,1902-10-24,GT,NA,15.5,-90.25
3,1917,NaN,Earthquake,Natural,Geophysical,Guatemala,Americas,2650.0,NaN,25,1917,12,1917-12-25,GT,NA,15.5,-90.25
4,1969,Francelia,Storm,Natural,Meteorological,Guatemala,Americas,269.0,10200.0,5,1969,9,1969-09-05,GT,NA,15.5,-90.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12520,2013,Typhoon Haiyan (Yolanda),Storm,Natural,Meteorological,Palau,Oceania,NaN,NaN,7,2013,11,2013-11-07,PW,OC,7.5,134.50
12521,2018,Dengue,Epidemic,Natural,Biological,Palau,Oceania,NaN,124.0,17,2019,3,2019-03-17,PW,OC,7.5,134.50
12522,2021,Tropical cyclone 'Surigae',Storm,Natural,Meteorological,Palau,Oceania,NaN,7288.0,16,2021,4,2021-04-16,PW,OC,7.5,134.50
12523,2017,NaN,Flood,Natural,Hydrological,United Arab Emirates,Asia,NaN,188.0,16,2017,12,2017-12-16,AE,AS,24.0,54.00
12524,2018,NaN,Flood,Natural,Hydrological,Qatar,Asia,NaN,1500.0,20,2018,10,2018-10-20,QA,AS,25.5,51.25

### Export to csv

In [529]:
#final_df.to_csv("NaturalDisasters.csv")